body {
    background-color: #0d9f2d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
#actions {
    display: none;
}
#start-game {
    margin-top: 1em;
}
a {
    color: blue;
    text-decoration: none;
}
#bottom-p {
    border-bottom: solid 1px white;
    width: 75%;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 3em;
    padding-top: 0;
}
h1 {
    border-bottom: solid 1px white;
    width: 75%;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 0;
}